.container {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  border: 1px solid black;
  width: 800px;
  margin: 0 auto;
}

.menu li {
  display: inline-table;
  padding: 8px;
  margin-right: 20px;
  font-family: monospace;
}

.logo {
  margin-left: 90px;
  font-size: 30px;
  color: pink;
}
