.container {
  display: flex;
  align-content: center;
  align-items: baseline;
  justify-content: center;
}

.container h5 {
  width:140px;
  height: 30px;
  border: 1px solid pink;
  text-align: center;
  font-family: monospace;
  padding-top: 10px;
  color: white;
  background-color: #ff729f;
  margin-right: 10px;
  font-size: 15px;
}
